<div class = "card">
  <div class = "card-body {{task?.status}}" id = " {{task?.taskId}} ">
    {{ task?.taskTitle }}
    {{ task?.taskType }}
    {{ task?.taskType }}
    {{ task?.taskProgress }}
  </div>
</div>
