  <h1>Your boards</h1>

  <div class = "row">
    <div class="col-3 filters">
      AQUI VA EL FILTRADO
    </div>
    <div class="row col-9 boards" >
      <!--<app-card-board class = "col" *ngFor="let board of boards" [board] = "board" (click) = "loadBoard(board)" ></app-card-board>-->
      <dx-data-grid 
          [dataSource] = "boards"
          keyExpr = "boardId">            
          <dxi-column dataField = "boardTitle" caption = "Board Name"></dxi-column>
          <dxi-column dataField = "creationDate" caption = "Creation Date"></dxi-column>
          <dxi-column dataField = "updateDate" caption = "Update Date"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
