<h1>Tus missions del board {{ boardId }}</h1>

<div class = "row">
  <div class="col" *ngFor="let mission of missions">
    <app-card-mission [mission] = "mission" (click) = "loadTasks(mission)" ></app-card-mission>
  </div>
</div>
